<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{legendChart1}}</h4>
        <app-doughnut-chart [chartData]="dataChart1" [chartLabels]="labelChart1" [chartType]="typeChart1"></app-doughnut-chart>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{legendChart2}}</h4>
        <app-doughnut-chart [chartData]="dataChart2" [chartLabels]="labelChart2" [chartType]="typeChart2">
        </app-doughnut-chart>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{legendChart3}}</h4>
        <app-doughnut-chart [chartData]="dataChart3" [chartLabels]="labelChart3" [chartType]="typeChart3">
        </app-doughnut-chart>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{legendChart4}}</h4>
        <app-doughnut-chart [chartData]="dataChart4" [chartLabels]="labelChart4" [chartType]="typeChart4">
        </app-doughnut-chart>
      </div>
    </div>
  </div>
</div>
